<!DOCTYPE html>

    <title>Menu page</title>
</head>
<body style="background-color:lightblue;">
    <a style="padding:5px;float:left;color:palevioletred;" href="/specialoffers">SPECIALOFFERS</a>
    <a style="padding:5px;float:right;color:palevioletred;"href="/reservation">RESERVATION</a>
    <a style="padding:5px;float:right;color:palevioletred;"href="/home">HOME</a>
    <a style="padding:5px;float:right;color:palevioletred;"href="/menu">MENU</a><br><br><br>

    
    <h1 style="text-align: center; color:red">CONTACT DETAILS</h1>
    <h2 style="text-align: center;">Name:aadhya</h2>
    <h2 style="text-align: center;">phone number:8969222489</h2>
    <h2 style="text-align: center;">email:aadhya@gmail.com</h2>
    <h2 style="text-align: center;">ADDRESS:</h2>
    <p style="text-align: center;">Bank street,Troop Bazaar </p>
    <p style="text-align: center;"> Koti</p>
    <p style="text-align: center;">Hyderabad</p>
    <p style="text-align: center;">Telangana</p>
    <p style="text-align: center;">pincode:500001</p></p>
    </body>
    </html>

    
        
         
        
    