<!DOCTYPE html>
<html>
    <head>
    <title>Menu page</title>
</head>
<body>
  
    <a style="padding:5px;float:right;" href="/home">Home</a>
    <a style="padding:5px;float:right;"href="/Contact">CONTACT</a>
    <a style="padding:5px;float:right;"href="/reservation">RESERVATION</a>
    <a style="padding:5px;float:right;"href="/specialoffers">SPECIALOFFERS</a>
    <div class="parent">
    <div>
    <img src="static/menuhighlights.jpeg" width="300" height="300">
    <h3>IDLI WITH SAMBAR</h3>
    <h4>actual price:60 RS</h4>
    </div>
    <div>
    <img src="static/home2.jpeg" width="300" height="300">
    <h3>DOSA</h3>
    <h4>actual price:90 RS</h4>
    </div>
    <div>
    <img src="static/home3.jpeg" width="300" height="300">
    <h3>PURI</h3>
    <h4>actual price:50 RS</h4>
    </div>
    <div>
    <img src="static/home4.jpeg" width="300" height="300">
    <h3>VADA</h3>
    <h4>actual price:75 RS</h4>
    </div>
    <div>
    <img src="static/home5.jpeg" width="300" heigth="300">
    <h3>ROTI</h3>
    <h4>actual price:40 RS</h4>
    </div>
        <div>
        <img src="static/home6.jpeg" width="300" height="300">
        <h3>NOODLES</h3>
        <h4>actual price:100 RS</h4>
        </div>
        <div>
        <img src="static/home7.jpeg"width="300" height="300">
    
        <h3>PIZZA</h3>
        <h4>actual price:120 RS</h4>
        </div>
        <div>
         <img src="static/home8.jpeg" width="300" height="300">
            
        <h3>Momos</h3>
        <h4>actual price:169 RS</h4>
        </div>
        <div>
        <img src="static/home9.jpeg" width="300" height="300">
        <h3>PAVBHAJI</h3>
        <h4>actual price:120 RS</h4>
        </div>
        <div>
       <img src="static/home10.jpeg" widht="200" height="200">
       <h3>SANDWICH</h3>
         <h4>actual price:80 RS</h4>
        </div>
        <div>
        <img src="static/home11.jpeg" width="300" height="300">
        <h3>TACO</h3>
        <h4>actual price:200 RS</h4>
        </div>
        <div>
        <img src="static/menu8.jpeg" width="400" height="400">
        <h3>PASTA </h3>
        <h4>actual price:200 RS</h4>
        </div>
        <div>
         <img src="static/home12.jpeg" width="300" heigth="300">
         <h3>PANNERTIKKA</h3>
        <h4>actual price:150 RS</h4>
        </div>
        <div>
        <img src="static/home13.jpeg" width="300" height="300">
        <h3>SPRING ROLLS</h3>
        <h4>actual price:100 RS</h4>
        </div>
         <div>
        <img src="static/home14.jpeg" width="300" height="300">
        <h3>VEG BIRYANI</h3>
        <h4>actual price:200 RS</h4>
        </div>
        <div>
       <img src="static/home16.jpeg" width="300" height="300">
        <h3>MUSHROOM BIRYANI</h3>
        <h4>actual price:165 RS</h4>
        </div>
        <div>
        <img src="static/home17.jpeg" width="300" height="300">
        <h3>TANDOORI ROTI</h3>
        <h4>actual price:50 RS</h4>
        </div>
        <div>
        <img src="static/home18.jpeg" width="300" height="300">
        <h3>LEMON BUTTER FISH</h3>
        <h4>actual price:170 RS</h4>
        </div>
        <div>
        <img src="static/home19.jpeg" width="300" height="300">
        <h3>VADA PAV</h3>
        <h4>actual price:150 RS</h4>
        </div>
        <div>
        <img src="static/home21.jpeg" width="300" height="300">
        <h3>CHICKEN FRIED RICE </h3>
        <h4>actual price:150 RS</h4>
        </div>
        <div>
        <img src="static/home22.jpeg" width="300" height="300">
        <h3>VEGAN LASANGNA </h3>
        <h4>actual price:100 RS</h4>
        </div>
        <div>
        <img src="static/home23.jpeg" width="300" height="300">
        <h3>CHICKEN LOLLIPOP</h3>
        <h4>actual price:300 RS</h4>
        </div>
        <div>
        <img src="static/home19.jpeg" width="300" height="300">
        <h3>PRAWNS FRY</h3>
        <h4>actual price:200 RS</h4>
        </div>
        <div>
        <img src="static/home21.jpeg" width="300" height="300">
        <h3>CHICKEN NOODLE SOUP</h3>
        <h4>actual price:100 RS</h4>
        </div>
        <div>
        <img src="static/home22.jpeg" width="300" height="300">
        <h3>VEGGIE SOUP</h3>
        <h4>actual price:100 RS</h4>
        </div>
        <div>
        <img src="static/home23.jpeg" width="300" height="300">
        <h3>ICECREAM</h3>
        <h4>actual price:100 RS</h4>
        </div>
        <div>
        <img src="static/home24.jpeg" width="300" height="300">
        <h3>DRY FRUIT BANANA MILKSHAKE</h3>
        <h4>actual price:250 RS</h4>
        </div>
        <div>
        <img src="/static/home25.jpeg" width="300" height="300">
        <h3>CARAMEL MILKSHAKE</h3>
        <h4>actual price:300 RS</h4>
        </div>
        <div>
        <img src="static/home26.jpeg" width="300" heigth="300">
        <h3>STARWBERRY MOJIOTOS</h3>
        <h4>actual price:170 RS</h4>
        </div>
        <div>
        <img src="static/home27.jpeg" width="300" height="300">
        <h3>SOFTDRINKS</h3>
        </div>
       
        </div>                                    
        <style>
        .parent{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 5px;
        }
        #section{
        padding:25px 0 25px 0;
        text-align:center;
        font-size:2rem;
        font-family: verdana;
        }
        </style>       
                                        
                                
                        
    
                
            
        
    
        