<!DOCTYPE html>
<body style="background-color:pink ;">
    <a styLe="padding:5px;float:left" href="/Home">MENU</a>
    <a style="padding:5px;float:left" href="/reservation">RESERVATION</a>
    <li><a href="/Contact">Contact</a></li> 
    <h1 style="color:blue;text-align: center;font-family: verdana;font-size: 60px;">SpecialOffers</h1>
    <div class="parent"> 
    <div>
    <img src="static/special2.jpeg" width="500" height="300">

    <h3>momos</h3>
    <h4>actual price:125 RS</h4>
    <h4><strike>125RS</strike>15%off</h4>
    </div>
    <div>
     <img src="static/special3.jpeg" width="500" height="300">
        
    <h3>icecreame</h3>
    <h4>actual price:169 RS</h4>
    <h4><strike>169RS</strike>5%off</h4>
    </div>
    <div>
    <img src="static/special5.jpeg" width="500" height="300">
    <h3>machuriya</h3>
    <h4>actual price:120 RS</h4>
    <h4><strike>120RS</strike>10%off</h4>
    </div>
    <div>
   <img src="static/special6.jpeg" width="500" height="300">
    <h3>apollofish</h3>
     <h4>actual price:190 RS</h4>
    <h4><strike>190RS</strike>2%off</h4>
    </div>
    </div>
    </div>                                    
    <style>
    .parent{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 5px;
    }
    </style>       
                                    
                            
                    

            
        
    

    